* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(50, 84, 255);
    background: linear-gradient(90deg, rgba(50, 84, 255, 1) 0%, rgba(80, 165, 209, 1) 40%, rgba(252, 70, 107, 1) 100%);
    overflow: hidden;
}

p {
    font-size: 1.2em;
}

#content::-webkit-scrollbar {
    display: none;
}

#header {
    display: block;
    position: relative;
}

#content {
    display: block;
    position: relative;
    height: 100vh;
    padding: 1% 5% 5% 5%;
    overflow-x: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.heading {
    font-size: 4em;
    font-weight: bold;
}

.columns-desktop {
    display: flex;
}

.pet {
    width: 30%;
    padding: 10px;
    margin: 1%;
    background: rgb(74, 255, 0);
    background: linear-gradient(191deg, rgba(74, 255, 0, 1) 10%, rgba(255, 0, 35, 1) 50%, rgba(219, 213, 0, 1) 100%);
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.pet img {
    width: 100%;
    position: block;
}

.pet .name {
    font-weight: bold;
    font-size: 40px;
    position: block;
}

.pet .desc {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    opacity: 80%;
    position: block;
}

.pet button {
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 5px;
    color: rgb(97, 0, 189);
    position: block;
    font-size: medium;
}