* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 68, 0, 1) 20%, rgba(252, 235, 70, 1) 100%);
    overflow: hidden;
}

p {
    font-size: 1.2em;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#header {
    display: block;
    position: relative;
}

#content {
    display: block;
    position: relative;
    height: 100vh;
    padding: 1% 5% 5% 5%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.heading {
    font-size: 4em;
    font-weight: bold;
}

.subsection {
    margin: 0% 35% 0% 35%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    opacity: 80%;
    overflow-wrap: break-word;
    font-size: larger;
}