* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 30%, rgba(252, 176, 69, 1) 100%);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#header {
    display: block;
    position: relative;
}

#content {
    display: block;
    position: relative;
    height: 100vh;
    padding: 1% 5% 5% 5%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.form {
    width: 50%;
}

.heading {
    font-size: 4em;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
  }

  .input-group input,
  .input-group textarea,
  .input-group select {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 2px;
    width: 100%;
  }

  label {
    font-weight: 600;
  }
