* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(140, 180, 58);
    background: linear-gradient(0deg, rgba(140, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 30%, rgba(252, 176, 69, 1) 100%);
    overflow: hidden;
}

img {
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#header {
    display: block;
    position: relative;
}

#content {
    display: block;
    position: relative;
    height: 100vh;
    padding: 0 5% 5% 5%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.welcome {
    font-family: 'Modak';
    font-size: 7vw;
    display: inline-block;
    -webkit-text-stroke: 1px black;
}

#t1 {
    color: red;
}

#t2 {
    color: orange;
}

#t3 {
    color: yellow;
}

#t4 {
    color: green;
}

#t5 {
    color: blue;
}

#t6 {
    color: #FF3366;
}

#t7 {
    color: purple;
}

.description {
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    color: rgb(49, 49, 49);
}

.container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Container for image text */

.caption-container {
    font-size: 1.5vw;
    text-align: center;
    background-color: #222;
    padding: 1%;
    color: white;
}


/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.3;
}

.active,
.demo:hover {
    opacity: 1;
}